# See https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# See https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

.idea/
